@using GridMvc.Html
@model IEnumerable<GestionPlanning.Models.Poles>

@{
    ViewBag.Title = "Liste des pôles";
}

<h2>Liste des pôles</h2>

<p>
    @Html.ActionLink("Ajouter", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(model => model.Nom).Sortable(true).SetWidth(150);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(model => Html.ActionLink("Modifier", "Edit", new { id = model.Id }, null).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(model => Html.ActionLink("Détails", "Details", new { id = model.Id }, null).ToHtmlString());
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(model => Html.ActionLink("Supprimer", "Delete", new { id = model.Id }, null).ToHtmlString());
}).WithPaging(10)

